body {
  margin: 0;
}

.buoy-map {
  display: flex;
  flex-flow: column;
}

.map-controls {
  display: flex;
  flex-flow: row;
  width: 600px;
  justify-content: flex-start;
  margin-top: 1em;
}

.map-controls-col {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-right: 10px;
}

.latlon-input {
  width: 12em;
}

.bound-subscribe {
  width: 12em;
}
